<div class="my-card mt-3 {{ backgroundColorClass }}">
  <div class="row">
    <div class="col">
      <i class="wu wu-{{ iconClass }} wu-64 wu-{{ icon }}"></i>
      <p class="lead">{{ conditions }}</p>
    </div>
    <div class="col"><h2>{{ location }}</h2></div>
    <div class="col"><h2 class="text-right">{{ temp }}&deg; {{ units.toUpperCase() }}</h2></div>
  </div>

  <div class="row">
    <div class="col">
      <h5>Winds</h5>
      <p>{{ windSpeed }} mph {{ windDirection }} </p>
    </div>
    <div class="col">
      <h5>UV</h5>
      <p>{{ uv }}</p>
    </div>
    <div class="col">
      <h5>Humidity</h5>
      <p>{{ humidity }} </p>
    </div>
    <div class="col">
      <h5>Dew Point</h5>
      <p>{{ dewPoint }}&deg; {{ units.toUpperCase() }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5>Feels Like</h5>
      <p>{{ feelsLike }}&deg; {{ units.toUpperCase() }}</p>
    </div>
    <div class="col">
      <h5>Wind Chill</h5>
      <p>{{ windChill }}&deg; {{ units.toUpperCase() }}</p>
    </div>
    <div class="col">
      <h5>Pressure</h5>
      <p>{{ pressure }} mb</p>
    </div>
    <div class="col">
      <h5>Visibility</h5>
      <p>{{ visibility }} miles</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h5>Today: </h5>
      <p>{{ forecastToday }}</p>
    </div>
  </div>

  <div class="row">
      <div class="col">
        <h5>Tonight: </h5>
        <p>{{ forecastTonight }}</p>
      </div>
  </div>

  <!-- <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Current Conditions</a>
      <a class="nav-item nav-link" id="nav-forecast-tab" data-toggle="tab" href="#nav-forecast" role="tab" aria-controls="nav-forecast" aria-selected="false">Forecast</a>
      <a class="nav-item nav-link" id="nav-historical-tab" data-toggle="tab" href="#nav-historical" role="tab" aria-controls="nav-historical" aria-selected="false">Historical Data</a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      
    </div>
    <div class="tab-pane fade" id="nav-forecast" role="tabpanel" aria-labelledby="nav-forecast-tab">
      <p>Forecast</p>
    </div>
    <div class="tab-pane fade" id="nav-historical" role="tabpanel" aria-labelledby="nav-historical-tab">
      <p>historical</p>
    </div>
  </div> -->


</div>